.website{
    background-color: plum;
}

#myHeader {
    background-color: powderblue;
    text-align: center;
}

a:hover{
    color: blue;
}
body{
    background-color: powderblue;
}
h1{
    color: blue;
}
p{
    color: aquamarine;
}
div{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

