.website{
    background-color: plum;
}

#myHeader {
    background-color: powderblue;
    text-align: center;
}
a:link{
    color:blue;
}
a:visited{
    color:darkslateblue;
}
a:hover{
    color: red;
}
a:active{
    color:green;
}
body{
    background-color: powderblue;
}
h1{
    color: blue;
}
img{
    text-align: center;
}
p{
    color: black;
}
div{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

