
.centerPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 200px;
}

.sectionHeader{
    color: cornflowerblue;
}

#topHeader {
    background-color: plum;
    text-align: center;
    color: cornflowerblue;
}
a:link{
    color:blue;
}
a:visited{
    color:darkslateblue;
}
a:hover{
    color: red;
}
a:active{
    color:green;
}
body{
    background-color: powderblue;
}

p{
    color: black;
}

h1{
    color: black;
    text-align: center;
}

div{
    border-top: 10px solid;
    border-bottom: 10px solid;
    background: plum;
    padding: 20px;
    margin: 50px;

}

